.education {
    padding: 60px 0;
    background: var(--section-color-white-grey);
    margin: 0 auto;
    @include tablet {
        grid-area:4 / 2 / 5 / 3;
        width: 100%;
        background: var(--section-color-white);
    }
    .container {
        margin: 0 auto;
    }
    &-title {
        @include text-style(700, 22px, 1.17, 0.03em);
        margin-bottom: 30px;
        text-align: center;
        @include desktop {
            @include text-style(700, 30px, 1.17, 0.03em);
            margin-bottom: 50px;
        }
    }
    &__item {
        @include tablet {
            margin: 0 20px 0 20px;
        }
    }
    &__university {
        @include text-style($fs:16px, $col:var(--hover-color));
        margin-bottom: 10px;
    }
    &__speciality {
        @include text-style($fs:12px);
        margin-bottom: 10px;
        @include mobile {
            @include text-style($fs:14px);
        }
    }
    &__period {
        margin-bottom: 10px;
        @include text-style($fs:12px, $col: var(--text-color-grey));
        & span {
            color: var(--text-color-dark);
        }
    }
}
.go{
    background: #373740;
    color: var(--text-color-white);
    position: relative;
    margin-right: 8px;
    &::after{
        content: ''; 
    position: absolute; 
    left: 100%; 
    bottom: 0; 
    border: 10px solid transparent; 
    border: 10px solid transparent; 
    border-left: 7px solid #373740;
    }
    
}
.it{
    background: #F2600C;
    color: var(--text-color-white);
    padding: 0 8px 0 8px;
}
.vs{
    color: #373740;
}
