.header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
    .container {
    margin: 0 auto;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px){
        padding-top: 15px;
        padding-bottom: 15px;}
    @media screen and (min-width: 1200px){
        padding-top: 20px;
        padding-bottom: 20px;}
    }
}
.me {
    @include tablet {
        display: flex;
        align-items: center;
    }
    @include desktop{
        display: block;
    }
    &__p {
        @include text-style($fs:12px);
        text-align: center;
        margin-bottom: 10px;
        @include mobile{
            @include text-style ();
        }
        @include tablet{
            text-align: left;
            margin: 0 30px 0 0;
        }
        @include desktop {
            text-align: center;
            margin: 0 0 10px 0;
        }
    }

    &__link {
        font-family: 'Marck Script', cursive;
        font-style:italic ;
        @include text-style($fs:16px, $col: #2195f3);
        transition: var(--main-transition);
        &:hover,
        &:focus{
            color: #2195f383;
        }
        @include mobile {
            @include text-style ($fs:24px, $col: #2195f3);
        }
        @include desktop {
            @include text-style ($fs:28px, $col: #2195f3);
        }
    }
}

.nav {
    display: none;
    @include desktop{
        display: block;
    }
    & :hover,
    & :focus {
        color: var(--hover-color);
    }
    &-list {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

		&__link {
            @include text-style();
            transition: var(--main-transition);
		}
}


.contact {
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &-list {
        display: none;
        @include desktop{
            display: block;
        }
        // margin-left: auto;
        & :hover,
        & :focus {
            color: var(--hover-color);
        }
    }
    &__item {
            &:nth-child(1){
                margin-bottom: 10px;
            }
		}

    &__link {
            @include text-style($fs:16px, $col: var(--text-color-grey));
            display: flex;
            align-items: center;
            transition: var(--main-transition);
            &:hover,
            &:focus {
                color: var(--hover-color);
                fill: var(--hover-color);
            }
    }
    &__icon{
        margin-right: 10px;
    }
    &__span{
        color: #ffffff00;
    }
}
