.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc__item:not(:last-child) {
  margin-right: 10px;
}
.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-color-white);
  transition: var(--main-transition);
  &:hover,
  &:focus {
  background-color: var(--hover-color);
}
}
