:root {
  --section-color-top: #ffb8ca;
  --section-color-botom: #fff5f6;
  --section-color-mobmenu: #e17992;
  --light-color: #ffffff;
  
  --hover-btn-light: #ecebeb;
  --text-color-white: #ffffff;
  --text-color-white-transparent: #ffffff99;
  --text-color-dark: #212121;
  --text-color-grey: #907e82;
  --text-color-dark-grey: #757575;
  --section-color: #2f303a;
  --section-color-dark:#1e2939;
  --section-color-white-grey: #f5f4fa;
  --hover-color: #2196f3;
  --main-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
